

img {
    width: 40%;
    margin: 20px;
    float: left;
}

main {
    display: flex;
    justify-content: space-evenly;
}

header {
    background-color: #285F9C;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #ededed;
    margin: 0;
}

.info {
    background-color: bisque;
    float: right;
    width: 300px;
    margin: 20px;
}

.legislation {
    padding: 30px;
}

.comittees {
    padding: 30px;
}

footer {
    background-color: #7ea3cc;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}

.sub-header {
    background-color: #CF1E39;
    margin: 0;
    overflow: hidden;
}